extends layout.pug

prepend styles
    //link(rel="stylesheet", href="/styles/about.css")

prepend scripts
    //-script(src="/scripts/FILENAME.js")
    //

block content
    //-CONTENT-STARTS-HERE-//
    section
        h1 About us
        p My School Remembers is a website and mobile application platform that invites Year 9 secondary students to capture and input the family and community stories of ANZAC veterans who served in World War One, from their school and local community. The focus of the project is to capture the unique story of the individual, pre and post war service. The project invites schools to participate, by teaching how to research, how to input researched data, and importantly showing and sharing links with like minded community groups within the school's local postcode.
    section
        h1 Our vision
        div.row
            img.col-md-4(src="assets/AboutImage1.png")
            p.col-md-8 The project is designed to ensure students' understanding that volunteering for military service was a very short part of their lives.  At the same time, in a very personal way, understanding the long term effects of war and sacrifices made, including the effects on the families at home who endured it.  The project will be a resource for the related history curriculum of schools and the research needs of students, as well as developing and enhancing local relationships with like minded community organisations.
    section
        p.text-center.mt-4 In this special 100 year anniversary of the First World War, the project - both for students and their communities - breathes life into the names carved in local monuments of the volunteer veterans who served,  remembering  'real people' - many of whom passed through the very same classrooms of the researching students.